<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
	<script src="/index.bundle.js" defer></script>
</head>
<body>
	<div id="root"></div>
</body>
</html>
