/*
  ------------------ General ---------------------
*/

body {
    font-size: medium;
    font-family: 'Roboto', sans-serif;
}
.visible {
    visibility: visible;
}
.visibility-hidden {
    visibility: hidden;
}

/*
    App Bar
 */

.app-bar h1 {
    background-image: url('../images/isomat-logo.png');
    background-repeat: no-repeat;
}
.app-bar-icon-button i {
    color: white;
    font-size: 28px;
}

/*
    Search Field
 */

div.search-field {
    align-self: center;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 200px;
    min-width: 80px;
    flex: initial;
    height: 36px;
    border: 1px solid rgba(255, 255, 255, 0.87);
    border-radius: 6px;
}
div.search-field i {
    color: rgba(255, 255, 255, 0.54);
    flex: none;
}
div.search-field input {
    background-color: transparent;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.87);
    font-size: 100%;
    font-weight: 300;
    padding-left: 6px;
    width: 100%;
}
div.search-field .input-container {
    flex: auto;
}
div.search-field input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba(255, 255, 255, 0.54);
}
div.search-field input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(255, 255, 255, 0.54);
}
div.search-field input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(255, 255, 255, 0.54);
}
div.search-field input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.54);
}

/*
    Spinner
 */

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
    Products Tab
 */

.products-tab-container {
    position: relative;
    min-height: 600px;
}
.products-table-container .table-title-container {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    height: 64px;
    align-items: center;
}
.products-table-container .title-and-spinner {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.table-title-container h2 {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 6px;
    line-height: inherit;
    flex: initial;
}
.table-title-container .delete-button {
    margin-right: 24px;
    color: rgba(0, 0, 0, 0.54);
}
.table-title-container .edit-button {
    color: rgba(0, 0, 0, 0.54);
}
.table-footer-controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.items-count-label {
    flex: 2 1 auto;
}
.pagination-controls {
    flex: 1 1 auto;
}
.pagination-icon {
    color: rgba(0, 0, 0, 0.54);
    font-size: 24px;
}

/*
    Categories Tab
 */

.categories-tab-container {
    position: relative;
    min-height: 600px;
}
.categories-table-container .table-title-container {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    height: 64px;
    align-items: center;
}
.categories-table-container .title-and-spinner {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

/*
    Solutions
 */

.card:hover {
    background-color: rgba(0, 0, 0, 0.15) !important;
}
